/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0b1 | 201101
    NOTE:WORK IN PROGRESS WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

    @font-face {
      font-family:'Suisse';
      src: url('/assets/fonts/SuisseIntl-Regular.woff2') format('woff2'),
          url('/assets/fonts/SuisseIntl-Regular.woff') format('woff');
      font-weight: 400;
      font-style: normal;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font-weight:400;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-stroke:1px transparent;
}
ol,ul{
  list-style:none;
}
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:’’;
  content:none;
}
/* remember to define visible focus styles!
:focus{
  outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

/* box-sizing reset */

html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
scroll-behavior: smooth;
}

button {
   background:none!important;
   color:inherit;
   border:none;
   font: inherit;
   color:#2F3140;
   cursor: pointer;
   text-decoration: none;
   border-radius:40px;
   border:2px solid rgba(47,49,64,255);
   text-align: center;
   padding:6px 20px;
  margin:20px 0 0 82px;
}

button:hover{
color:#4700B2;
border:2px solid #4700B2;

}

/*------------------------------------*\
  $EVERY LAYOUT
\*------------------------------------*/

:root {
  --ratio: 1.4;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --measure: 50ch;
  --light-white: rgba(255,255,255,0.2);
  --light-grey: rgba(0,0,0,0.075);
  --grey: rgba(0,0,0,0.5);

}

* {
  max-width: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer,
a,
section {
  max-width: none;
}


img, video{
  align-self:baseline;
  position:relative;
  max-width: 100%;
  }
  

  
/*------------------------------------*\
  $MAIN
\*------------------------------------*/

body{
font-family:'Suisse', serif;
line-height:1.4;
color: #454F4D;
background-color: #ffffff;
/* padding:var(--s0); */
font-size:var(--s0)
}

.big{
  font-size:var(--s1);
}

.postbody > * + * {
  margin-top: 1.4rem;
}



.postintro{
  margin:0 0 10em;
}

.work-item p, .postbody p, .table-list, ol{
  text-align: left;
  margin: var(--s1) 0 ;
  color:var(--grey)
}

.postbody p, .postbody ol{
  margin: var(--s1) auto ;
}

ol{
  list-style-type:disc;
  padding-left:var(--s2);
}

.postbody{
  text-align: center;
}

.postbody, .homebody{
  max-width:1100px;
  margin:var(--s2) auto;
  /* font-size:0.8em; */
  padding:var(--s2);
}

.homebody{
  max-width: 800px;
}



.end-slide{
  background-color: #454F4D;
  height:100vh;
  width:100vw;
  /* position: sticky;
  position: -webkit-sticky;
  top: 0;  */
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

.end-slide > div{
/* max-width: 80vw; */
max-width:calc(100vw-var(--s2));
max-height:calc(100vh-var(--s2));
/* height:auto; */
}

.end-slide > div > img{
  max-height:80vh;
}

.end-slide-mini{
  backdrop-filter: blur(20px);
  background-color:rgba(255,255,255,.7);
  height:100vh;
  width:100vw;
  position: sticky;
  position: -webkit-sticky;
  top: 10; /* required */
  padding:5vh 20vw;
  margin:66vh 0 0 0;
  /* color:white !important; */
}


nav{
  text-align: center;
  margin: var(--s1) 0;
}

nav > p{
  display:inline-block;
  margin:auto;
  padding:4px 16px;
  background-color: var(--light-grey);
  border-radius: 50px;
}

.postbody h1, .postbody h2,  .postbody h3{
  line-height:1;
  margin:var(--s5) auto var(--s2);
  font-size:var(--s3);
}
.postbody h2,  .postbody h3{
  max-width:20ch;
}

.table-list{
  border-top:1px var(--light-grey)  solid;
  margin:2em 0 2em 0 !important;
  /* max-width:600px; */
  font-size:var(--s0);
}


.table-list-item{
  /* text-indent: 0; */
  display:flex;
  flex:1;
  flex-direction: column;
  border-bottom:1px var(--light-grey) solid;
  justify-content:space-between;
  align-items:stretch;
  padding:1em 0;
}

.table-list > div > p, .table-list-item > div > p{
  margin:0;
}



 
.table-list-1wide, .table-list-2wide, .table-list-3wide{
  display:inline-block;
  flex:1;
  padding-right:1vmax;
}

.ul{
  text-decoration: underline;
}

#work{
  padding:6vh 0;
}

/* .table-title{
  padding:2vh 0;
}
 */


a,
a:link,
a:visited,
a:hover,
a:active{
  text-decoration: none;
}

a{
color: inherit;
}

a:hover{
color:#4B3666;
}

.image > img{
  border-radius:.25em;
}


.image-contain {
  border-radius: 6px;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  /* height:50vh; */
  padding:var(--s1) 0;
  margin:var(--s1) 0;
  background-color:#F7F7F7;
  text-align:center;
}

.parliament{
  background-color: #373151;
  color:white;  
}

.iplayer{
  background-color: #F54997;
  color:white;  
}

.farewill{
  background-color: #FFDF4E;
  color:black;  

}

.farewill2{
  background-color: #162258;
  color:white;  

}


.screen img, .no-screen img, .screen video, .no-screen video{
  padding: 16px 5px 0px;
  margin:0;
  /* max-width:700px; */
  /* max-height:50vh; */
}

.screen, .no-screen{
  margin:15px auto;

}

.screen{
  max-width: 90vw;
  border-radius:4px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.05);
  background-color: var(--light-grey);
}

.screen.light{
  background-color: rgba(255,255,255,0.3);
}



figcaption{
  font-size:var(--s0);
  padding: var(--s-1);
  border-bottom:1px solid var(--light-grey);
  max-width:none;
}

figure img{
  box-shadow: 0px 4px 20px rgba(0,0,0,0.05);

}

figure{
  margin: var(--s4) 0 !important;
  max-width:none;
}

.opacity60{
opacity:0.6;
}


.max60{
  max-width: 60ch;
}



/* p{
  text-indent:2em;
  margin-top:0 !important;
} */

.work-item{
  margin:8em 0;
}


.work-item video, .work-item img, .work-item div{
  border-radius:.25em;
  margin: .25em 0;
  /* text-indent:0; */
}



@media only screen and (min-width: 800px) {


  :root {
    /* ↓ Upscale by 25% at 960px */
    font-size: 110%;
  }


  body{
    /* font-size:var(--s-); */
    /* padding:var(--s2); */
    }
    

    .screen img, .no-screen img, .screen video, .no-screen video{
      padding: 24px 8px 2px;

    }
    
    
    .screen, .no-screen{
      /* max-width:100%; */
      /* max-height:100%; */
      margin:20px auto;

    }


    .table-list-item{
      flex-direction: row;
      justify-content:space-between;
      align-items:stretch;
    }

    .left-flex{
      justify-content:flex-start;
    }
    
    .table-list-item p{
      margin:0 !important;
    }

    .table-list-4wide{
      flex:4;
    }

    .table-list-3wide{
      flex:3;
    }

    .table-list-2wide{
      flex:2;
    }

    .table-list-1wide{
      flex:1;

    }

    .table-list-small{
      /* flex:0.2; */
      min-width:10ch;

    }


    
    /* .table-list-link{
      display:inline-block;
      flex:.6;
      text-align:right;
    } */
    

}


@media only screen and (min-width: 1284px) {

  :root {
    /* ↓ Upscale by 25% at 960px */
    font-size: 120%;
  }


  .screen img, .no-screen img, .screen video, .no-screen video{
    /* max-width:800px; */
    /* max-height:80vh; */

  }

  /* .image-contain{
    padding:80px 0;
    margin: 80px 0;

  } */


}


