<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title }}</title>
	<link rel="stylesheet" href="/assets/main.css">
  <!-- <script type="text/javascript" src="/assets/outline.js-master/outline.js" async></script> -->
  <!-- <script type="text/javascript" src="/assets/scripts.js" async></script> -->


	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon.ico/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon.ico/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon.ico/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon.ico/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon.ico/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon.ico/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon.ico/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon.ico/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon.ico/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon.ico/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon.ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon.ico/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon.ico/favicon-16x16.png">
<link rel="manifest" href="/assets/favicon.ico/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/favicon.ico/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

	{% seo %}

	
</head>
<body data-barba="wrapper" class="home">


<section class="main">





<main data-barba="container" data-barba-namespace="home">
		



	<h1 class="opacity60">Victor Chieng Fatt Hwang</h1>
	<p>Lead product and service designer</p>

	<section id="work">

<section class="work-item">
	<h2>I joined Farewill in 2018 to help change the way the world deals with death.</h2>
	<div class="">
<video width="100%" autoplay muted controls>
		  <source src="/assets/images/home/farewill-homepage-small.mp4" type="video/mp4">
		Your browser does not support videos.
		</video> 
	  </div>
	<p>At Farewill I lead design on wills and growth. I’m proud to be part of a team that’s revolutionising how people plan for their death. We’ve got an industry leading product experience, and have won National Will Writer of the year for two years running. </p>
	<p>Since Tom H and I joined as a pair of lead designers, we’ve seen Farewill grow from a wills company into an everything-to-do-with-death company, with a design team to match (now 13 of us across research, content, product and brand design). </p>
</section>

<section class="work-item">
	<h2>from 2017 to 2018 I worked at UK Parliament</h2>
	<div class="">
		<img src="/assets/images/home/parliament-home.png">
	</div>
	<p>where I was part of an ambitious team with the goal of making it easier to understand what MPs and Lords do everyday. </p>
</section>

<section class="work-item">
	<h2>and from 2015 to 2017 I worked at the BBC</h2>
	<div class="">
		<img src="/assets/images/home/iplayer-home.png">
	</div>
	<p>where I worked on weather, BBC notifications, radio and finally iPlayer.  </p>
</section>

</section>


	<p>vfhwang@gmail.com</p>





</main>

</section>






</body>
</html>
