<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title }}</title>
	<link rel="stylesheet" href="/assets/main.css">
  <!-- <script type="text/javascript" src="/assets/outline.js-master/outline.js" async></script> -->
  <!-- <script type="text/javascript" src="/assets/scripts.js" async></script> -->


	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon.ico/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon.ico/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon.ico/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon.ico/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon.ico/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon.ico/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon.ico/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon.ico/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon.ico/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon.ico/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon.ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon.ico/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon.ico/favicon-16x16.png">
<link rel="manifest" href="/assets/favicon.ico/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/favicon.ico/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

	{% seo %}

	
</head>
<body data-barba="wrapper">


<section class="main">





<main data-barba="container" data-barba-namespace="home">
		

	<section class="slide intro">
		<div class="titles">
			<h1>vcfh.work</h1>
			<h2>(Victor Chieng Fatt Hwang)</h2>
		</div>
		<p class="max600">I'm a designer, specialised in creating useful products and services. I help people, organisations and things solve problems. I believe in thinking through making.</p>
		<a href="#work"><div class="workdown"><p>Work</p></div></a>
	</section>

	<section id="work">

	{% for post in site.categories.casestudies-notready %}
		<section class="slide {{ post.class }}">
			<h2>{{ post.title }}</h2>
			<div class="screen"><img src="{{ post.imagesurl }}/cover.png" alt="A desktop screenshot of {{ post.title }}"></div>
			<p>{{ post.description }}</p>
			<p class="opacity60">( case study coming soon )</p>

		</section>

	<!-- <li><a href="{{ post.url }}">{{ post.title }}</a></li> -->

	{% endfor %}

	{% for post in site.categories.casestudies %}
	<a href="{{ post.permalink }}">
		<section class="slide {{ post.class }}">
			<h2>{{ post.title }}</h2>
			<div class="screen"><img src="{{ post.imagesurl }}/cover.png" alt="A desktop screenshot of {{ post.title }}"></div>
			<p>{{ post.description }}</p>
			<p class="opacity60">( read more )</p>

		</section>
	</a>

	<!-- <li><a href="{{ post.url }}">{{ post.title }}</a></li> -->

	{% endfor %}





	<section class="slide final">
		<!-- <h3>I'd love to chat</h3> -->
		<img class="smallimg" src="assets/images/home/portrait-victor.jpg"alt="A portrait of Victor Hwang">
		<p>vfhwang@gmail.com</p>

	</section>


</section>


</main>

</section>






</body>
</html>
