<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title }} - {{ page.title }}</title>
	<link rel="stylesheet" href="/assets/main.css">
  <!-- <script type="text/javascript" src="/assets/outline.js-master/outline.js" async></script> -->
  <!-- <script type="text/javascript" src="/assets/scripts.js" async></script> -->


	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon.ico/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon.ico/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon.ico/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon.ico/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon.ico/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon.ico/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon.ico/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon.ico/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon.ico/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon.ico/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon.ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon.ico/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon.ico/favicon-16x16.png">
<link rel="manifest" href="/assets/favicon.ico/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/favicon.ico/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">


	{% seo %}

	
</head>
<body data-barba="wrapper">


<section class="main">

<nav>
	<p><a href="/">vcfh.work</a></p>
</nav>

	<main data-barba="container" data-barba-namespace="home" >

	<div class="postbody">	
		<section class="postintro">

			<h1>{{ page.description }}</h1>

			<div class="screen"><img src="{{page.imagesurl}}/cover.png"></div>



			{% for item in page.intro %}
				<p class="big">{{ item }}</p>
			{% endfor %}


			<div class="table-list">




				<div class="table-list-item left-flex">
					<p class="table-list-small opacity60">Role</p>
					<p class="table-list-4wide">{{ page.role }}</p>
				</div>

				<div class="table-list-item left-flex">
					<p class="table-list-small opacity60">Impact</p>
					<div class="table-list-4wide">
						{% for item in page.impact %}
						<p>{{ item }}</p>
						{% endfor %}
					</div>
				</div>				

				<div class="table-list-item left-flex">
					<p class="table-list-small opacity60">Team</p>
					<div class="table-list-4wide">
						{% for item in page.team %}
						<p>{{ item }}</p>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>


		{{ content }}




		
	</div>	
	<section class="end-slide {{page.class}}">
		<div class="screen light"><img src="{{page.imagesurl}}/cover.png"></div>
	</section>

		<!-- <section class="end-slide-mini">
		
		<h2 class="opacity60 table-title">Other projects</h2>
		
		<div class="table-list">
		
			{%  for post in site.categories.casestudies %}
				{% if post.url != page.url %} 
			  {% if forloop.index < 6 or found %}
			  <a href="{{ post.permalink }}">
				<div class="table-list-item">
					<p class="table-list-4wide">{{ post.description }}</p>
					<p class="table-list-2wide">{{ post.title }}</h2>
					<p class="table-list-small ul">View case study</p>
				</div>
			</a>
				  {% endif %}
				{% else %}
				  {% assign found = true %} 
				{% endif %}
			{% endfor %}
		
		</div>
		
		</section> -->


</main>
</section>


</body>
</html>
