<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title }} - {{ page.title }}</title>
	<link rel="stylesheet" href="/assets/main.css">
  <!-- <script type="text/javascript" src="/assets/outline.js-master/outline.js" async></script> -->
  <!-- <script type="text/javascript" src="/assets/scripts.js" async></script> -->


	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon.ico/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon.ico/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon.ico/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon.ico/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon.ico/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon.ico/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon.ico/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon.ico/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon.ico/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon.ico/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon.ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon.ico/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon.ico/favicon-16x16.png">
<link rel="manifest" href="/assets/favicon.ico/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/favicon.ico/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">


	{% seo %}

	
</head>
<body data-barba="wrapper">

	<!-- <div class="backbutton"><p>vcfh.work</p></div> -->

<section class="main">



	<main data-barba="container" data-barba-namespace="home">

		
		<section class="slide short project iplayer">
			<!-- <h1>{{page.title}}</h1>
			<p>{{page.description}}</p>
			<div class="screen"><img src="{{page.imagesurl}}/cover.png"></div> -->

			<p>iPlayer was created in 2007 as a way to catch up on TV you’d missed. Over time it became a place to discover new shows, too. However, in research sessions we saw that it wasn’t as easy to find something new as it should’ve been.</p>
		</section>

		<section class="postbody">
			<div class="postcontainer">	
				{{ content }}
			</div>

		</section>




</main>
</section>


<section class="slide project iplayer">
	<p>The final homepage</p>
	<div class="screen"><img src="{{page.imagesurl}}/cover.png"></div>
</section>


<section class="slide final">
	<p>This work was completed as a Junior UX designer over 3 months, working closely with Filippo Cuttica, Dimple Gohil and Thomas Arnold.</p>

	<!-- <div class="project-sign-off finalitem">
		<img src="{{page.imagesurl}}/end.png">
			<p>Me and Billy outside the BBC</p>
		</div> -->
</section>

<section class="slide otherprojects">

	<h3>Other projects</h3>
	<ul class="otherprojectslist">
	<a href=""><li><p>UK Parliament</p></li></a>
	<a href=""><li><p>Farewill</p></li></a>
	<a href=""><li><p>BBC iPlayer</p></li></a>
	</ul>

	<h3>Contact</h3>
	<ul class="otherprojectslist">
	<li><p>vfhwang@gmail.com</p></li>
	</ul>

	<a href="/"><div class="backbutton"><p>vcfh.work</p></div></a>


</section>

</body>
</html>
